<% if flash[:notice].present? %>
<div class="cama_flash_messages">
	<% if flash[:notice].present? %>
	<div class="flash_messages">
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<%= raw(flash[:notice]) %>
		</div>
	</div>
	<% end %>
</div>
<% end %>
<div class="main-flexed-row">
	<div class="left-wited-col">
		<ul class="sidebar-menu-items">
			<% menu = current_site.nav_menus.find_by_slug('sidebar-left') %>

			<% if menu %>
			<% menu.children.includes(:custom_field_values).reorder("term_order asc").each do |item| %>
			<li class="sideber-menu-item" style="
			<% if item.get_field_value('bg-color')%>background-color: <%= item.get_field_value('bg-color') %>;<% end %>
			<% if item.get_field_value('border-color')%>box-shadow: 0 3px 0 <%= item.get_field_value('border-color') %>; border-color: <%= item.get_field_value('border-color') %><% end %>">
			<a class="sideber-menu-item-link" href="<%= item.description %>">
				<i class="fa <%= item.get_field_value('font-icon') %>" aria-hidden="true"></i>
				<span><%= item.name %></span>
			</a>
		</li>
		<% end %>
		<% end %>
	</ul>
	<div class="archive-calendar">
		<% posts = CamaleonCms::Note.published %>
		<%= month_calendar(attribute: :created_at, events: posts) do |date, meetings| %>
		<%= link_to l(date, format: "%d"), cama_archive_post_path(year: l(date, format: "%Y"), month: l(date, format: "%m"), day: l(date, format: "%d")) %>
		<% end %>
	</div>
</div>
<div class="special-marged-col">
	<div id="carousel-posts" class="carousel slide" data-ride="carousel" data-interval="false">
		<div class="carousel-inner">
			<% posts = CamaleonCms::Note.tagged_with('foto') %>
			<% alt_posts = CamaleonCms::Note.tagged_with('vazhlyvo') %>
			<% posts.merge!(alt_posts) %>
			<% posts.order(created_at: :desc).limit(5).each do |post| %>
			<div class="item">
				<a href="<%= post_url(post) %>" class="first-posts-item">
					<% if post.post_imported_thumb && post.post_imported_thumb.length > 0 %>
					<img src="<%= post.post_imported_thumb %>" alt="<%== post.title %>">
					<% else %>
					<img src="<%= theme_asset_url("images/template/default-photo.jpg") %>" alt="<%== post.title %>">
					<% end %>
					<div class="first-posts-content">
						<h3 class="first-posts-title"><%== post.title %></h3>
					</div>
				</a>
			</div>
			<% end %>
		</div>
		<a class="left carousel-control" href="#carousel-posts" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left fa fa-angle-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-posts" data-slide="next">
			<span class="glyphicon glyphicon-chevron-left fa fa-angle-right"></span>
		</a>
	</div>
	<div class="posts-listing-row">
		<% posts = CamaleonCms::Note.catted_with('uncategorized') %>
		<% posts.order(created_at: :desc).limit(13).each do |post| %>
		<div class="post-listing-item">
			<h3 class="post-listing-item-title"><a href="<%= post_url(post) %>"><%== post.title %></a></h3>
			<p class="post-listing-item-date"><%= l(post.created_at, format: "%B %d, %Y") %></p>
		</div>
		<% end %>
		<a href="/category/uncategorized" class="all-announcements-btn">Більше...</a>
	</div>
</div>
<div class="right-wited-col">
	<div class="sidebar-contact-top-info">
		<%== current_theme.the_field('kontaktna-informatsiya-top') %>
	</div>
	<div class="sidebar-contact-info">
		<%== current_theme.the_field('kontaktna-informatsiya') %>
	</div>
	<div class="announcements-block">
		<% category = CamaleonCms::NoteCategory.find_by(slug: 'anonsy') %>
		<% if category %>
		<p class="cat-naming"><%= category.name %></p>
		<% category.notes.published.order(created_at: :desc).limit(4).each do |post| %>
		<div class="post-listing-item">
			<h3 class="post-listing-item-title"><a href="<%= post_url(post) %>"><%== post.title %></a></h3>
			<p class="post-listing-item-date"><%= l(post.created_at, format: "%B %d, %Y") %></p>
		</div>
		<% end %>
		<a href="/anonsu_novun" class="all-announcements-btn">Всі анонси</a>
		<% end %>
	</div>
	<table style="border-collapse: collapse; width: 100%;">
<tbody background="#f8f8f8">
<td colspan="2" style="width: 100%; padding: 12px 1px 0px; border-style: hidden; text-align: center;">
<p class="cat-naming-blok">Порядки денні</p></td>
<tr>
<td style="width: 50%; border-style: hidden; text-align: center;"><a class="cat-naming-tab" href="#auzo00rx48r" data-toggle="tab">Виконкому</a></td>
<td style="width: 50%; border-style: hidden; text-align: center;"><a class="cat-naming-tab" href="#0s190x4ulazd" data-scroll="#scroll-container" data-toggle="tab">Сесії</a></td>
</tr>
</tbody>
</table>
<div class="cstmn-flex-tab-row">
<div class="vc_tta-tabs vc_tta-tabs-position-left">
<div class="tab-content-container">
<div class="tab-content" id="scroll-container">
<div class="tab-pane fade" id="auzo00rx48r" style="border-color: #7d18bd;">
<div class="announcements-block" style="margin-top: 20px">
		<% category = CamaleonCms::NoteCategory.find_by(slug: 'plany-vykonkomu-2019') %>
		<% if category %>
		<% category.notes.published.order(created_at: :desc).limit(3).each do |post| %>
		<div class="post-listing-item">
			<h3 class="post-listing-item-title"><a href="<%= post_url(post) %>"><%== post.title %></a></h3>
		</div>
		<% end %>
		<a href="/category/plany-vykonkomu-2019" class="all-announcements-btn">Більше...</a>
		<% end %>
	</div>
</div>
<div class="tab-pane fade" id="0s190x4ulazd" style="border-color: #be7b4a;">
<div class="announcements-block" style="margin-top: 20px">
		<% category = CamaleonCms::DocCategory.find_by(slug: 'plany-provedennia-sesii') %>
		<% if category %>
		<% category.docs.order(created_at: :desc).limit(3).each do |doc| %>
		<div class="post-listing-item">
			<h3 class="post-listing-item-title"><a href="/rada_docs/show/<%= doc.slug %>"><%== doc.title %></a></h3>
		</div>
		<% end %>
		<a href="/rada_docs/plany-provedennia-sesii" class="all-announcements-btn">Більше...</a>
		<% end %>
	</div>

</div>
</div>
</div>
</div>
</div>
	<ul class="sidebar-menu-items">
		<% menu = current_site.nav_menus.find_by_slug('sidebar-right') %>
		<% if menu %>
		<% menu.children.includes(:custom_field_values).reorder("term_order asc").each do |item| %>
		<li class="sideber-menu-item" style="<% if item.get_field_value('bg-color')%>background-color: <%= item.get_field_value('bg-color') %>;<% end %><% if item.get_field_value('border-color')%>box-shadow: 0 3px 0 <%= item.get_field_value('border-color') %>; border-color: <%= item.get_field_value('border-color') %><% end %>">
			<a class="sideber-menu-item-link" href="<%= item.description %>">
				<i class="fa <%= item.get_field_value('font-icon') %>" aria-hidden="true"></i>
				<span><%= item.name %></span>
			</a>
		</li>
		<% end %>
		<% end %>
	</ul>
</div>
</div>
<div id="coverflow" class="our-partners">
  <ul class="flip-items">
    <li data-flip-title="Energy">
	<a href="https://saee.gov.ua/uk">
      <img style="width:328px; height:98px;" src="/old_media/1/baner-1.jpg"></a>
    </li>
	<li data-flip-title="Migration">
	<a href="https://dmsu.gov.ua/">
      <img style="width:328px; height:98px;" src="/old_media/1/partner-baner-3.jpg"></a>
    </li>
    <li data-flip-title="Asociation">
	<a href="https://www.auc.org.ua/">
      <img style="width:123px; height:137px;" src="/old_media/1/logo.png"></a>
    </li>
	<li data-flip-title="Dps">
	<a href="https://zak.tax.gov.ua/?fbclid=IwAR3HN7ovcV_f7YCNMSy36mc0o86bzzMMoxxr_M_9I4YqSGpPhEPzuFFcoAA">
      <img style="width:328px; height:98px;" src="/media/2021/08/12/dps_logo.png"></a>
    </li>
	<li data-flip-title="Dia-gid">
	<a href="https://guide.diia.gov.ua/">
      <img src="/media/2021/10/22/05-24-38_2__1_.jpg"></a>
    </li>
	<li data-flip-title="Dia">
	<a href="https://czo.gov.ua/">
      <img style="width:328px; height:98px;" src="/media/2021/07/23/21-10-01_Банер.png"></a>
    </li>
  </ul>
</div>
<div class="main-flexed-row">
	<div class="left-ico-col">
<a href="/tag/foto" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-style-3d vc_btn3-color-grey"> <span> <img style="width:50px; height:50px;" src="/media/icon/photo.png" /> </span>Фото</a>
</div>
<div class="center-ico-col">
<a href="/tag/video" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-style-3d vc_btn3-color-grey"> <span> <img style="width:50px; height:50px;" src="/media/icon/video.png" /> </span>Відео</a>
</div>
<div class="right-ico-col">
<a href="/tag/podkast" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-style-3d vc_btn3-color-grey"> <span> <img style="width:50px; height:50px;" src="/media/icon/podkast.png" /> </span>Подкасти</a>
	</div>
</div>
<div class="regional-sites-pre">
	<a href="/sayti-oblasnih-centriv" class="regional-sites-pre">
		<h2>Сайти обласних центрів </h2>
	</a>
</div>