<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-2">
				<h4><span class="fa fa-file"></span> Документи</h4>
			</div>
      <div class="col-md-3">
				<div class='form-group'>
					<form action="<%= url_for(action: :index) %>" method="get" class="cama_ajax_request">
						<div id='plugin_field_post_created_at' class='input-group date'>
							<input type='text' name='date' data-format='yyyy-MM-dd' class='form-control' placeholder="2019-03-23" value="<%= params[:date] if params[:date].present? %>" />
							<span class='add-on input-group-addon'><span class='glyphicon glyphicon-calendar'></span></span>
							<span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-3">
				<form action="<%= url_for(action: :index) %>" method="get" class="cama_ajax_request">
					<div class="input-group">
						<input type="text" class="form-control" name="q" value="<%= params[:q] %>">
						<span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
					</div>
				</form>
			</div>
		</div>
    <%= render partial: 'camaleon_cms/admin/docs/partials/import_modal' %>
    <%= submit_tag 'Видалити документи', :class => 'btn btn-primary btn-danger', :id => 'multiple_destroy_btn', disabled: true, data: { confirm: 'Ви впевнені що хочете видалити документи?' } %>
  </div>
  <div class="panel-body">
    <%= render partial: 'camaleon_cms/admin/docs/partials/admin_docs_grid' %>
  </div>
</div>
