<%= javascript_include_tag "document_search_ajax" %>
<div class="doc-list col-md-12 col-sm-12" style="width: 100%; clear: both">
  <% if @docs && @docs.length > 0 %>
    <div class="found-post-items">
      <% @docs.order("created_at desc").each do |doc| %>
        <div class="post-listing-item">
          <h3 class="post-listing-item-title"><a href="/rada_docs/show/<%= doc.slug %>"><%== doc.title %></a></h3>
          <p class="post-listing-item-date">
            <%= l(doc.created_at, format: "%B %d, %Y") %>
            <% if doc.doc_stamp == 'personal_data' %>
              <%= button_tag 'Файл недоступний для завантаження', class: 'btn btn-sm' %>
            <% else %>
                <%= link_to 'Завантажити', doc.rada_docs_url.present? ? doc.rada_docs_url : download_file_path(:title => doc.slug), { :remote => true, class: 'btn btn-sm', :onclick => "", id: 'docs-download-btn', target: '_blank'}  %>
            <% end %>
          </p>
        </div>
      <% end %>
      <%= raw cama_do_pagination @docs %>
    </div>
  <% end %>
  <% if @docs.empty? && @docs.empty? %>
    <%= content_tag("div", raw(ct('no_documents_found', default: '<b>Документів не знайдено</b></br><p>Спробуйте перефразувати пошуковий запит або змінити фільтри</p>')), class: "alert alert-warning") %>
  <% end %>
</div>